@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

body {
  color: rgb(255, 255, 255);
  background: rgb(15, 23, 42);
  background: linear-gradient(180deg, rgba(15, 23, 42, 1) 0%, rgba(23, 45, 97, 1) 100%);
  background-attachment: fixed;
}
